<!--url: r-color.ru/catalog/naklejki/-->
<!--directory: /tools/catalog-admin/naklejki/filters/partials/-->
<p>
Вы можете выбрать существующую наклейку или задать ее параметры полностью самостьятельно.
</p>
<small>
<b>Вводный текст</b> не индексируется, берётся из внешних файлов в partials, загружается асинхронно<br>
Было бы полезно показывать его при первом посещении, а потом убирать чтоб не мешал<br>
Файл: /tools/catalog-admin/naklejki/filters/partials/root_1.html<br>
Подключен в /tools/catalog-admin/naklejki/filters/index.tpl
</small>